NEXT_PUBLIC_APP_URL

NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY

NODE_ENV

# Enable Google Drive API and add "Google Drive API 	.../auth/drive.file	See, edit, create, and delete only the specific Google Drive files you use with this app" scope
GOOGLE_DRIVE_CLIENT_ID
GOOGLE_DRIVE_CLIENT_SECRET
